<div class="card">
    <div class="card-header border-transparent">
        <h3 class="card-title">Big category</h3>
        <a class="btn btn-success btn-sm" href="/dashboard/big-category/add" role="button" title="Edit Category"
            style="float: right;">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
    </div>
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table m-0">
                <thead>
                    <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                            aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">ID
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                            aria-label="Browser: activate to sort column ascending">Name
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each categories}}
                    <tr role="row" class="odd">
                        <td tabindex="0" class="sorting_1">{{bid}}</td>
                        <td>{{name}}
                            <a class="btn btn-danger btn-sm" href="/dashboard/big-category/delete?bid={{bid}}"
                                role="button" title="Delete Category" style="float: right;margin-left: 5px;">
                                <i class="fas fa-trash-alt" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-primary btn-sm" href="/dashboard/big-category/edit?bid={{bid}}"
                                role="button" title="Edit Category" style="float: right;">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>