<div class="card">
    <div class="card-header">
        <h3 class="card-title">Edit Big category</h3>
    </div>
    <div class="card-body">
        <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form" id="quickForm" novalidate="novalidate" method="post"
                    action="/dashboard/admin/big-category/edit">
                    <div class="card-body">
                        <input type="text" name="bid" hidden value="{{category.bid}}">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Category Name</label>
                            <input type="text" name="name" value="{{category.name}}" class="form-control"
                                id="exampleInputName">
                        </div>
                        <div class="form-group mb-0">
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>