<div class="card">
    <div class="card-header">
        <h3 class="card-title">Add Category For Editor</h3>
    </div>
    <div class="card-body">
        <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form" id="quickForm" novalidate="novalidate" method="post" action="">
                    <input type="text" hidden value="{{uid}}" name="uid">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Category Name</label>
                            <select class="form-control select2 select2-danger select2-hidden-accessible"
                                data-dropdown-css-class="select2-danger" style="width: 100%;" data-select2-id="12"
                                tabindex="-1" aria-hidden="true" name="bid">
                                {{#each bigCategories}}
                                {{#if choose}}
                                <option value="{{bid}}" data-select2-id="14">{{name}}</option>
                                {{/if}}
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group mb-0">
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>