<div class="card">
    <div class="card-header border-transparent">
        <h3 class="card-title">Manager Editor</h3>
        <a class="btn btn-success btn-sm" href="/dashboard/editor/manager-editor/add?uid={{uid}}" role="button"
            title="Edit Category" style="float: right;">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
    </div>
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table m-0">
                <thead>
                    <tr role="row">
                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                            aria-label="Browser: activate to sort column ascending">Name Category
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each manager}}
                    <tr role="row" class="odd">
                        <td tabindex="0" class="sorting_1">{{name}}
                            <a class="btn btn-danger btn-sm" href="/dashboard/editor/manager-editor/delete?uid={{uid}}"
                                role="button" title="Delete Category" style="float: right;margin-left: 5px;">
                                <i class="fas fa-trash-alt" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-primary btn-sm" href="/dashboard/editor/manager-editor/edit?uid={{uid}}"
                                role="button" title="Edit Category" style="float: right;">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>